.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

h1 {
  font-size: 4rem;
  color: #3e81ad;
  margin-bottom: 0;
}

.home-page-image {
  width: 100vw;
  height: 40vh;
  margin: 3em auto;
  background-image: url("https://static1.squarespace.com/static/500c5c5084ae823f9b01b655/515cd498e4b02ae078533b47/515cd542e4b02ae078534553/1365038407727/_DSC3873.jpg?format=2500w");
  background-size: cover;
  vertical-align: middle;
  /* position: fixed; */
  overflow: scroll;
}
main

hr {
  height: 5px;
  width: 50vw;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 2em;
  margin-top: 1em;
}

.navigation {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-content: center;
}
.navigation a {
  color: #222222;
  text-decoration: none;
  size: 1em;
}
.navigation a:hover {
  color: #3e81ad;
  text-decoration: none;
  cursor: pointer;
}

